.movements__type--deposit {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }
  
  .movements__type--withdrawal {
    background-image: linear-gradient(to top left, #e52a5a, #ff585f);
  }

  body {
    font-family: "Poppins", sans-serif;
    color: #444;
    background-color: #f3f3f3;
    height: 100vh;
    padding: 2rem;
  }

#continaer{
    display: grid;
    grid-template-columns: repeat(20 , 1fr);
    grid-template-rows: repeat(auto, 1fr);
    
  }
#continaer *{
      margin-bottom: 20px;
  }

h1{
    grid-area:1/9/5/11;
    text-align: center;
    padding: 10px;
    
}

/* Scored section style  */

#scoreCard{
    grid-area: 5/4/9/16;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #444;;
    
}

#status {
    background-image: linear-gradient(to top left, #39b385, #9be15d);
    width: 90px;
    text-align: center;
    padding: 25px;
    border-radius: 40px;
    font-size: 25px;
    
}

#congratulation--fail , #score{
   text-align: center;
   padding: 20px;
   font-size: 30px;

}

#congratulation--fail{
    font-weight: bold;
    font-style: italic;

}

/* show button style */

#show-analysis{
    grid-area: 9/9/11/11;
}
#show-analysis{
    background-image: linear-gradient(to top left, #ffb003, #ffcb03);    border: white 1px;
    border-radius: 35px;
    padding: 25px;
    color: #444;
    font-size: 15px;
    cursor: pointer;
}


/* Analysis section style  */

#qAnalysis{
    grid-area: auto/4/auto/16;
    border: 1px solid #444;;
    padding: 20px;
    /* opacity: 0; */
}


#choice4-g1{
    background-color: red;
    
}
.statusqustion:nth-child(3){
    margin-left: 50px;
    color: red;
    font-style: italic;
}
#choice1-g1{
    background-color: green;
}

#statusqustion{
    margin-left: 50px;
    color: green;
    font-style: italic;
}
